/* .UserCardSetPlaceholder__mainDiv {
    margin: 10px auto;
    padding: 5px;
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 5px 3px 5px 5px #eee;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
} */

.UserCardSetPlaceholder__mainDiv {
    margin: 15px auto;
    padding: 5px;
    height: 120px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 5px 3px 5px 5px #eee;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.UserCardSetPlaceholder__titlesDiv {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.UserCardSetPlaceholder__infoDiv {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.UserCardSetPlaceholder__mainDiv p {
    margin: 0;
}

@media(min-width: 768px) {
    .UserCardSetPlaceholder__mainDiv {
        flex-direction: column;
    }
    .UserCardSetPlaceholder__mainDiv:hover {
        background-color: #a8dadc;
    }
    .UserCardSetPlaceholder__titlesDiv {
        flex-direction: row;
        width: 100%;
    }
    .UserCardSetPlaceholder__titlesDiv p {
        width: 30%;
    }
    .UserCardSetPlaceholder__infoDiv {
        flex-direction: row;
        width: 100%;
    }
    .UserCardSetPlaceholder__infoDiv p {
        width: 30%;
    }
}