.Card__mainDiv{
    margin: 0;
    padding: 5px;
    height: 250px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 5px 3px 5px 5px #eee;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}