.ExplorePage__MainDiv {
    text-align: center;
    color: black;
}

.ExplorePage__ShowCardsDiv {
    margin: 20px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
}

.ExplorePage__ShowSetsDiv {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.ExplorePage__ButtonDiv {
    width: 80%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
}

.ExplorePage__ButtonDiv p {
    font-family: inherit;
    font-size: 18px;
    height: 60px;
    width: 20%;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 3px 4px 5px 5px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ExplorePage__ButtonDiv button:focus {
    outline: 0;
}

.ExplorePage__ActiveButton {
    background-color: #457b9d;
    border: 1px solid #457b9d;
    color: white;
}