.CardSetPlaceholder__mainDiv {
    margin: 0 auto;
    padding: 5px;
    height: 50px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 5px 3px 5px 5px #eee;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CardSetPlaceholder__mainDiv p{
    width: 30%;
}