.CardSetPage__mainDiv {
    min-height: 1200px;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.CardSetPage__setInfo {
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #a8dadc;
    box-shadow: 5px 3px 14px 6px #ccc;
    border-radius: 16px;
}

.CardSetPage__setTitle {
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.CardSetPage__setAdditinalInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.CardSetPage__setAdditinalInfo__Author {
    text-align: center;
}

.CardSetPage__setAdditinalInfo__Author p{
    margin: 0;
}

.CardSetPage__setAdditinalInfo__Description {
    width: 40%;
    text-align: center;
}

.CardSetPage__cardsDiv {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 30px;
}

.CardSetPage__addNewCardDiv {
    margin: 10px auto;
    padding: 5px;
    height: 250px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 5px 3px 5px 5px #eee;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #457b9d;
    cursor: pointer;
}

.CardSetPage__addNewCardDiv:hover {
    background-color: #a8dadc;
    transform: scale(1.1);
}

.CardSetPage__addNewCardDiv:hover .CardSetPage__addNewCardButton {
    background-color: #a8dadc;
}

.CardSetPage__addNewCardButton {
    width: 40%;
    font-size: 40px;
    background-color: white;
    border: none;
}

.CardSetPage__settingsButtons {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardSetPage__settingsButton {
    font-family: inherit;
    font-size: 18px;
    height: 60px;
    width: 40%;
    margin: 10px 20px;
    border: 1px solid #eee;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 3px 4px 5px 5px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media(min-width: 768px) {
    .CardSetPage__addNewCardDiv {
        width: 60%;
    }
    .CardSetPage__cardsDiv {
        grid-template-columns: repeat(2, 50%);
    }
}

@media(min-width: 1024px) {
    .CardSetPage__addNewCardDiv {
        width: 80%;
        margin: 0 auto;
    }
    .CardSetPage__cardsDiv {
        grid-template-columns: repeat(4, 25%);
    }
}