.CardSetPage__mainDiv {
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.CardSetPage__setInfo {
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #a8dadc;
    box-shadow: 5px 3px 5px 5px #eee;
}

.CardSetPage__setTitle {
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.CardSetPage__setAdditinalInfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CardSetPage__setAdditinalInfo__Author {
    text-align: center;
}

.CardSetPage__setAdditinalInfo__Description {
    width: 40%;
    text-align: center;
}

.CardSetPage__cardsDiv {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 20px;
}

.CardSetPage__addNewCardDiv {
    margin: 10px auto;
    padding: 5px;
    height: 250px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 5px 3px 5px 5px #eee;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardSetPage__addNewCardButton {
    width: 40%;
    cursor: pointer;
    background-color: white;
    border: none;
}

@media(min-width: 768px) {
    .CardSetPage__addNewCardDiv {
        width: 60%;
    }
}

@media(min-width: 1024px) {
    .CardSetPage__addNewCardDiv {
        width: 80%;
        margin: 0 auto;
    }
}